<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>商标管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet"
        href="https://fonts.cat.net/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <script src="/dist/css.build.js"></script>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper" id="app">
  <main-header current="all"></main-header>
  <!-- <main-sidebar current="all"></main-sidebar> -->
  <div class="content-wrapper">
    <content-header title="全部商标"></content-header>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
              <form role="form">
                <div class="box-body">
                    <div class="col-xs-4">
                        <label class="control-label">关键字</label>
                        <input type="text" name="keyword" class="form-control" v-model="searchForm.keyword">
                      </div>
                      <div class="col-xs-2">
                        <label class="control-label">状态</label>
                        <select name="status" class="form-control" v-model="searchForm.status">
                          <option value="">全部</option>
                          <option v-for="status in statusList" :value="status.value">{{ status.text }}</option>
                        </select>
                      </div>
                      <div class="col-xs-3">
                        <label class="control-label">驳回状态</label>
                        <select name="rejectStatus" class="form-control" v-model="searchForm.rejectStatus">
                          <option value="">全部</option>
                          <option v-for="rejectStatus in rejectStatusList" :value="rejectStatus.value">{{ rejectStatus.text }}</option>
                        </select>
                      </div>
                      <div class="col-xs-3">
                      </div>
                </div>
                </form>
                <div class="box-footer">
                  <button type="button" class="btn btn-primary pull-right" @click="search">搜索</button>
                  <button type="button" class="btn btn-default pull-right" style="margin-right:10px;" @click="reset">重置</button>
                </div>
          </div>
                
          <list-box ref="list" :data-url="url" :columns="tableColumns" @selected="selected">
            <div id="toolbar">
              <a class="btn btn-success" @click="add">
                <i class="glyphicon glyphicon-plus"></i>添加
              </a>
              <a class="btn btn-primary" :disabled="!canEdit" @click="edit">
                <i class="glyphicon glyphicon-edit"></i>编辑
              </a>
              <a class="btn btn-danger" :disabled="!canDelete" @click="deleteItem">
                <i class="glyphicon glyphicon-remove-circle"></i>删除
              </a>
            </div>
          </list-box>
        </div>
      </div>
      <form-dialog custom-dialog-class="modal-lg" ref="formDialog" style="display: none;"
                   form-dialog-id="markFormDialog" :title="formDialogTitle" form-id="markForm" :form-data="formData" @save="save" :validate-rules="validateRules">
        <div class="row">
          <div class="col-xs-4">
            <label class="control-label" for="saveName">名称</label>
            <input id="saveName" type="text" name="name" class="form-control" v-model="formData.name">
          </div>
          <div class="col-xs-2">
            <label class="control-label" for="saveCategoryCode">商标分类</label>
            <input id="saveCategoryCode" type="text" name="categoryCode" class="form-control" v-model="formData.categoryCode" maxlength="2">
          </div>
          <div class="col-xs-3">
            <label class="control-label" for="saveCode">商标代码</label>
            <input id="saveCode" type="text" name="code" class="form-control" v-model="formData.code" maxlength="7">
          </div>
          <div class="col-xs-3">
            <label class="control-label" for="saveApplyDate">申请日期</label>
            <input id="saveApplyDate" data-date-format="yyyy-mm-dd" type="text" name="applyDate" class="form-control" v-model="formData.applyDate">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <label class="control-label" for="saveCompany">所属公司</label>
            <input id="saveCompany" type="text" name="company" v-model="formData.company" class="form-control">
          </div>
          <div class="col-md-6">
            <label class="control-label">
              <span class="btn btn-success fileinput-button">
              <!-- <i class="glyphicon glyphicon-plus"></i> -->
                <span>选择图样文件</span>
              <!-- The file input field used as target for the file upload widget -->
                <input v-show="false" id="fileupload" type="file" name="file" multiple>
              </span>
            </label>
            <a :href="formData.logo" data-lightbox="logoImg" data-title="商标样式" v-show="showLogo">
              <img :src="formData.logo" width="100" height="100">
            </a>
            <i v-show="showLogo" style="cursor: pointer;" class="label-danger glyphicon glyphicon-remove danger" @click="deleteLogoImg"></i>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">
            <label for="saveStatus" class="control-label">状态</label>
            <select id="saveStatus" class="form-control" name="status" v-model="formData.status">
              <option v-for="status in statusList" :value="status.value">{{ status.text }}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="saveRejectStatus" class="control-label">申请被拒</label>
            <select name="rejectStatus" id="saveReject" class="form-control" v-model="formData.rejectStatus">
              <option v-for="rejectStatus in rejectStatusList" :value="rejectStatus.value">{{ rejectStatus.text }}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="savePrice" class="control-label">费用(元)</label>
            <input type="text" name="price" id="savePrice" class="form-control" v-model="formData.price">
          </div>
          <div class="col-md-3">
            <label for="saveStartDate" class="control-label">起始日期</label>
            <input id="saveStartDate" data-date-format="yyyy-mm-dd" type="text" name="startDate" class="form-control" v-model="formData.startDate">
          </div>
          <div class="col-md-3">
            <label for="saveEndDate" class="control-label">结束日期</label>
            <input id="saveEndDate" data-date-format="yyyy-mm-dd" type="text" name="endDate" class="form-control" v-model="formData.endDate">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <label for="saveCredentialsFront" class="control-label">
              <span class="btn btn-success fileinput-button">
                <span>选择证件照片正面</span>
                <input v-show="false" id="saveCredentialsFront" type="file" name="file" multiple>
                </span>
                <button class="btn btn-danger" type="button" v-show="showCredentialsFront" @click="deleteCredentialsFront">删除</button>
            </label>
            <a :href="formData.credentialsFront" data-lightbox="logoImg" data-title="选择证件照片正面" v-show="showCredentialsFront">
              <img :src="formData.credentialsFront" width="842" height="595">
            </a> 
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
              <label for="saveCredentialsBack" class="control-label">
                <span class="btn btn-success fileinput-button">
                  <span>选择证件照片背面</span>
                  <input v-show="false" id="saveCredentialsBack" type="file" name="file" multiple>
                  </span>
                <button class="btn btn-danger" type="button" v-show="showCredentialsBack" @click="deleteCredentialsBack">删除</button>
              </label>
              <a :href="formData.credentialsBack" data-lightbox="credentialsImgBack" data-title="选择证件照片背面" v-show="showCredentialsBack">
                <img :src="formData.credentialsBack" width="842" height="595">
              </a> 
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <label for="saveRemark" class="control-label">备注</label>
            <textarea id="saveRemark" class="form-control" v-model="formData.remark" rows="4"></textarea>
          </div>
        </div>
      </form-dialog>
    </section>
  </div>
  <main-footer></main-footer>
</div>
<script src="/dist/list.build.js"></script>
</body>
</html>
