<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shearf.cloud.apps.brand.manage.domain.model.Trademark">
    <resultMap id="BaseResultMap" type="com.shearf.cloud.apps.brand.manage.domain.model.Trademark">
        <id property="id" column="id" jdbcType="INTEGER" />
    </resultMap>
</mapper>